<app-large-card></app-large-card>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Сервисы</h3>
      <p> С помощью сервисов реализованы все динамические компоненты. Например тот что назодится выше, меняет в себе
        заголовок и мелкий текст, при переходе на другой пункт меню. </p>
    </div>
    <div class="col-md-4">
      <h3>Form Control</h3>
      <p> Во втором пункте меню, реализована форма с помощью Form Control. Она отрабатывет добавление пункта в список.</p>
    </div>
    <div class="col-md-4">
      <h3>Lazy Loading</h3>
      <p>Если инспектировать приходящие запросы, то можно заметить, что при переходе на другой пункт меню, у нас таки догружается чанк, а все потому, что мы используем Lazy Loading.</p>
    </div>
  </div>
</div>



