<app-large-card></app-large-card>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Сервисы</h3>
      <p>Будем держать тут бизнес логику </p>
      <p><a class="btn btn-secondary" href="#" role="button">Жмяк »</a></p>
    </div>
    <div class="col-md-4">
      <h3>Работа со списком</h3>
      <p>Здесь мы работаем со списком, показываем что оно добавляется </p>
      <p><a class="btn btn-secondary" href="#" role="button">Жмяк »</a></p>
    </div>
    <div class="col-md-4">
      <h3>Lazy Loading</h3>
      <p>В этом разделе мы проверим, а сработает ли наша оптимизация загрузки чанков или нет</p>
      <p><a class="btn btn-secondary" href="#" role="button">Жмяк »</a></p>
    </div>
  </div>
</div>
